.Home {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
/* .Home-header {
    background-color: black;
    min-height: 10vh;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
    border-radius: 20px;
  } */

  .survey1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 10px solid green;
    border-radius: 30%;
    min-width: 800px;
    min-height: 80px;
    background: url(/public/ro.webp);
    background-position: 0% 40%;
    background-size: cover;
    margin: 20px;
  }

  .survey2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 10px solid green;
    border-radius: 30%;
    min-width: 800px;
    min-height: 80px;
    /* background-color: yellow; */
    background: url(/public/cr77.avif);
    background-position: 0% 55%;
    background-size: cover;
    margin: 20px;
  }

  .survey3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 10px solid green;
    border-radius: 30%;
    min-width: 800px;
    min-height: 80px;
    /* background-color: yellow; */
    background: url(/public/messi.webp);
    background-position: 0% 90%;
    background-size: cover;
    margin: 20px;
  }

  .surveyTitle{
    font-size: 30px;
    color: yellow;
    margin: 0;
  }

  .surveyHead{
    color: yellow;
    margin-top: 0;
    background-color: green;
  }

  .resultsTxt{
    color: yellow;
    margin-right: 5px;
  }

  .footer{
    color: green;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    border-top-left-radius: 65%;
    border-top-right-radius: 65%;
  }

  .footerLinks{
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .footerText{
    margin-bottom: 0px;
  }


  @media (max-width: 1000px){
    .survey1{
      min-width: 600px;
      background-size: cover;
    }
  }

  @media (max-width: 768px){

  }

  @media (max-width: 480px) {
    
  }

  