
.resultsPage{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resultsHeader{
	color: yellow;
	font-weight: bold;
	font-size: 5em;
	margin-top: 40px; 
}

.resultsHome{
	margin: 30px;
}

.accordionTitle {
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	height: 20px;
}

.accordionItem{
	width: 820px;
    background-color: yellow;
	color: green;
	margin-bottom: 10px;
}

.accordionContent {
	background-color: green;
	color: yellow;
}

.accordionTitle + .accordionContent {
	overflow: hidden;
	max-height: 0px;
	transition: all 0.7s ease-in;
}

.accordionTitle.is-open + .accordionContent {
	max-height: 35em;
}

.answers{
	display: block;
	margin: 0px;
}

.answersName{
	display: none;
}

.arrow{
  border: solid green;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.accordionTitle.is-open .arrow{
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

