
.accordionTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	height: 20px;
}

.accordionItem{
	width: 820px;
    background-color: yellow;
	color: green;
	margin-bottom: 10px;
	border-radius: 10px;
	border: solid 5px green;
}


.accordionContent {
	overflow-y: scroll;
	/* scrollbar-color: green green; */
	background-color: green;
	color: yellow;
	/* centralized version */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	
	/* width: 90%; */
	border-radius: 10px;

}

.accordionContent::-webkit-scrollbar {
	width: 15px;
	height: 15px;
	background: green;
	-webkit-border-radius: 10px;
}

.accordionContent::-webkit-scrollbar-thumb {
	background: yellow;
	-webkit-border-radius: 1ex;
}

.accordionItem p {
	overflow: hidden;
}

.accordionTitle + .accordionContent {
	/* overflow: hidden; */
	max-height: 0px;
	transition: all 0.7s ease-in;
}

.accordionTitle.is-open + .accordionContent {
	/* the one below is the length with all answers as one liners */
	/* max-height: 35em; */
	max-height: 20em;
}

.answers{
	display: flex;
	margin: 0px;
	/* border-bottom: yellow;
    border-bottom-style: dotted; */
}

.answersName{
	display: none;
}

.answersLeft{
	margin: 0px;
	background-color: yellow;
	color: green;
	/* border-top: 1px solid green; */

	border-bottom-style: dashed;
	/* border-width: 2px; */
	/* margin-left: -20px; */
	/* margin-right: 10px; */
	/* right: 0px; */
}

.answersRight{
	text-align: left;
	margin: 0;
	/* border-top: 1px solid yellow; */
	/* flex-grow: 5; */
	width: 50%;

	border-bottom-style: dashed;
	border-color: yellow;
	padding-left: 10px;
}

/* #diagonal{
	content: '';
	top: 0;
	left: 0; */
	/* border-top: 25px solid yellow;
  	border-right: 25px solid green; */
	/* border-bottom-style: dashed;
} */

.spacer {
	flex-grow: 1;
	border-bottom: yellow;
	background-color: yellow;
	color: green;

	border-bottom-style: dashed;
	border-color: green;

    /* border-bottom-style: dotted; */

	/* border-bottom-style: dashed;
	border-width: 2px;
	margin-left: -20px;
	margin-right: 10px; */
}

.arrow{
	border: solid green;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin: 10px;
  }

.accordionTitle.is-open .arrow{
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

/* ------------------------------------------laptop view------------------------------------------- */

@media (max-width: 1000px) {
	.accordionItem{
		width: 600px;
	}
}

/* -----------------------------------------tablet view---------------------------------- */

@media (max-width: 768px) {
	.accordionItem{
		width: 550px;
	}
	
}

/* -----------------------------------------phone view----------------------------------------- */

@media (max-width: 480px) {
	.accordionItem{
		width: 340px;
	}
	.accordionTitle{
		font-size: 1em;
	}
	.answersLeft{
		text-align: left;
		border-bottom-style: none;
	}
	.answersRight{
		border-bottom-style: none;
		width: 96%;
		text-align: left;
		padding-left: 0px;
	}
	.answers{
		display: block;
		border-bottom-style: dashed;
	}
	.spacer{
		border-bottom-style: none;
	}

}









