
  .surveyPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .surveyHead2{
    color: yellow;
    font-size: 60px;
    margin-top: 15%;
  }

  #goBack{
    color: green;
    font-size: 2rem;
  }
  
  /* .App-link {
    color: #61dafb;
  } */
  
  /* #q1answer{
    width: 500px;
    height: 40px;
    background-color: green;
    color: yellow;
    font-size: large;
    border-radius: 20px;
  } */
  
  .submitBtn{
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    color: green;
    background-color: yellow;
    width: 8em;
    padding: 15px;
  }

  .form{
    background-color: yellow
  }

  .remove-button {
    display: none;
  }

