.formContainer{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    /* margin-top: 10%; */
    background-color: yellow;
    /* min-height: 350px; */
    /* border-radius: 10%; */
    border-radius: 52px;
    border: solid 10px yellow;
    background-color: yellow;
    width: 600px;
    height: 500px;
}

.questionTitle{
    display: flex;
    justify-content: center;
    color: green;
    font-size: 3rem;
    width: 100px;
    margin-left: -10px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 30%;
    /* -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: yellow; */
    background-color: yellow;
    z-index: 2;
}

.bannerImg{
  height: 350px;
  width: 600px;
  z-index: 0;
  position: absolute;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
}

.formBottom{
  z-index: 1;
}


#surveyBtnBig{
    width: 100px;
    height: 50px;
    background-color: green;
    color: yellow;
    border: solid yellow;
    font-size: 1rem;
  }
  
  #surveyBtnBig:hover{
      background-color: yellow;
      color: green;
      border-color: green;
    }
    
  #surveyBtnBig:disabled:hover{
      background-color: green;
      color: yellow;
      border-color: yellow;
    }
    
  #surveyBtnBig:disabled{
      width: 100px;
      height: 50px;
      background-color: green;
      color: yellow;
      opacity: 0.4;
    }

    .form-inputs{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: yellow; */
        /* be careful with these two below */
        border-bottom-left-radius: 8% 14%; 
        border-bottom-right-radius: 8% 14% ;
        /* height: 150px; */
        margin-top: 10px;
      }
    
      #goBack{
        color: green;
        font-size: 2rem;
      }
      
      .flex-col {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .flex-row {
        display: flex;
        flex-direction: row;
      }
      
      .submitBtn{
        margin-top: 20px;
        font-size: large;
        font-weight: bold;
        color: green;
        background-color: yellow;
        width: 8em;
        padding: 15px;
      }
    
      .remove-button {
        display: none;
      }

      .submissionMessage {
        display: flex;
        justify-content: center;
        height: 120px;
        color: green;
        font-size: 30px;
      }
    
      
    .questionText{
        font-size: 2rem;
        margin: 1%;
        color: green;
        /* margin-bottom: 10px; */
    }
    
    .questionTextLong{
      font-size: 1.7rem;
      margin: 0;
      color: green;
      line-height: 30px;
    }
    
    .questionField{
      display: flex;
      justify-content: center;
      height: 70px;
    }
    
    .controlsField{
      display: flex;
      justify-content: center;
      height: 70px;
    }
    
    .textField{
        width: 60%;
        height: 50px;
        background-color: green;
        color: yellow;
        font-size: 1.5rem;
        font-family: 'MuseoModerno';
        resize: vertical;
    }
    
    ::placeholder{
        color: yellow;
        opacity: 40%;
    }
    
    .radioButtons{
      accent-color: green;
      border: 0px;
      width: 30px;
      height: 30px;
    }
    
    .checkboxes{
      accent-color: green;
    }
    
    .smallRadioButtons{
      accent-color: green;
    }
    
    .bigRadioText, .smallRadioText{
      color: green;
    }
    
    .checkboxText{
      color: green;
    }
    
    
/* ------------------------------------------laptop view------------------------------------------- */

@media (max-width: 1000px) {

}

/* -----------------------------------------tablet view---------------------------------- */

@media (max-width: 768px) {

}

/* -----------------------------------------phone view----------------------------------------- */

@media (max-width: 480px) {
  .formContainer{
    width: 300px;
    height: 300px;
    border-radius: 50px;
  }
  .questionTitle{
    font-size: 2rem;
    width: 70px;
    border-top-left-radius: 70%;
  }
  .bannerImg{
    height: 180px;
    width: 300px;
  }
  .form-inputs{
    height: 120px;
    margin: 0;
  }
  .questionField{
    display: flex;
    align-items: center;
    height: 60px;
  }
  .questionText, .questionTextLong{
    font-size: 1em;
  }
  .questionTextLong{
    line-height: 20px;
  }
  .textField{
    width: 240px;
    font-size: 1em;
  }
  #surveyBtnBig, #surveyBtnBig:disabled{
    width: 80px;
    height: 40px;
  }
  .smallRadioText{
    font-size: 10px;
  }
  .checkboxText{
    font-size: 10px;
  }
  .flex-row{
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .radioOption{
    height: 24px;
  }
  .radioButtons{
    height: 14px;
  }
}