
  #goBack{
    color: green;
    font-size: 2rem;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .submitBtn{
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    color: green;
    background-color: yellow;
    width: 8em;
    padding: 15px;
  }

  .remove-button {
    display: none;
  }

