.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60rem;
}

#loadingTxt{
  color: yellow;
}

button{
  font-family: 'MuseoModerno';
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
  flex-grow: 1;
}

.welcomeDiv{
  display: flex;
  align-items: baseline;
}

.welcomeText{
  color: yellow;
  font-size: 5em;
  margin-bottom: 0;
}

.soccerBall{
  font-size: 3em;
  margin-bottom: 0;
}

.welcomeTextSmall{
  text-align: center;
  color: yellow;
  font-size: 1.3em;
  margin-top: 0;
  border: dotted 4px green;
  border-radius: 10px;
  padding: 2%;
  width: 24em;
}

.logBtn{
  width: 180px;
  height: 40px;
  background-color: red;
  color: azure;
  border: solid azure;
}

.logBtn:hover{
  background-color: azure;
  color: red;
  border-color: red;
}

#surveyBtn{
  width: 80px;
  height: 40px;
  background-color: green;
  color: yellow;
  border: solid yellow;
  /* background-color: blue;
  color: white;
  border: solid white; */
}

#surveyBtn:hover{
  background-color: yellow;
  color: green;
  border-color: green;
}

#surveyBtn:disabled:hover{
  background-color: green;
  color: yellow;
  border-color: yellow;
}

#surveyBtn:disabled{
  width: 80px;
  height: 40px;
  background-color: green;
  color: yellow;
  opacity: 0.4;
}

.genericBtn{
  width: 180px;
  height: 40px;
  background-color: green;
  color: yellow;
  border: solid yellow;
}

.genericBtn:hover{
  background-color: yellow;
  color: green;
  border: solid green;
}

