.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60rem;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeText{
  color: yellow;
}

.logBtn{
  width: 80px;
  height: 40px;
}
