.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60rem;
}

button{
  font-family: 'MuseoModerno';
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeText{
  color: yellow;
  font-size: 5em;
}

.logBtn{
  width: 180px;
  height: 40px;
  background-color: red;
  color: azure;
  border: solid azure;
}

.logBtn:hover{
  background-color: azure;
  color: red;
  border-color: red;
}

#surveyBtn{
  width: 80px;
  height: 40px;
  background-color: green;
  color: yellow;
  border: solid yellow;
}

#surveyBtn:hover{
  background-color: yellow;
  color: green;
  border-color: green;
}

#surveyBtn:disabled:hover{
  background-color: green;
  color: yellow;
  border-color: yellow;
}

#surveyBtn:disabled{
  width: 80px;
  height: 40px;
  background-color: green;
  color: yellow;
  opacity: 0.4;
}

.genericBtn{
  width: 80px;
  height: 40px;
  background-color: green;
  color: yellow;
}

.text2{
  color: black;
}

.formContainer{
  background-color: yellow;
  padding: 10px;
  width: 600px;
}
