body {
  margin: 0;
  font-family: 'MuseoModerno', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  /* https://blog.logrocket.com/improving-mobile-design-latest-css-viewport-units/ */
  height: 100vh; /* Fallback for browsers that do not support dynamic vewiport units */
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
